@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #171717;
	--foreground: #ffffff;
  --primary-main: #06453d;
  --secondary-main: #bb8a27; 
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-poppins);
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* audio player styling */
audio {
  filter: none;
  height: 2.5rem;
  border: none;
}

audio::-webkit-media-controls-panel {
  border: none;
}

.loading-spinner {
  animation: rotateMe 2s linear infinite;
}

@keyframes rotateMe {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}